# Dawid Syty 302923 <br />

## Utworzono 4 foldery zgodnie z opisem w documentation.md
1. Original
2. Analysis Data
3. Command Files
4. Documents

## W pliku load and operate załadowano dane, poddano je operacjom czyszczącym niepełne odpowiedzi, utworzono nowe dataFrames oraz zapisano je do odpowiadających plików w Analisis Data:

DataFrame z zmienionymi nazwami kolumn:

In [12]:
import pandas

data = pandas.read_csv('/Users/dawidsyty/DataspellProjects/Analiza-i-bazy-danych/lab2/Analysis Data/question_renamed.csv')
data.info()
data.head()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 978 entries, 0 to 977
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Eathquake fear                     978 non-null    object
 1   Worried about Big One?             978 non-null    object
 2   Will it happen in our lifetime?    978 non-null    object
 3   Experienced earthquake?            978 non-null    object
 4   earthquake precautions             978 non-null    object
 5   Heard of San Andreas Fault Line?   978 non-null    object
 6   Heard of Yellowstone supervolcao?  978 non-null    object
 7   Age                                978 non-null    object
 8   gender                             978 non-null    object
 9   income                             978 non-null    object
 10  region                             978 non-null    object
dtypes: object(11)
memory usage: 84.2+ KB

,Eathquake fear,Worried about Big One?,Will it happen in our lifetime?,Experienced earthquake?,earthquake precautions,Heard of San Andreas Fault Line?,Heard of Yellowstone supervolcao?,Age,gender,income,region
count,978,978,978,978,978,978,978,978,978,978,978
unique,5,5,2,3,2,5,5,4,2,11,9
top,Not at all worried,Not at all worried,No,"Yes, one or more minor ones",No,Somewhat familiar,Somewhat familiar,45 - 59,Female,"$50,000 to $74,999",Pacific
freq,351,329,560,471,766,392,273,270,513,174,206

DataFrame tylko z wiekiem, płcią oraz odpowiedzią na jedno pytanie:

In [13]:
data = pandas.read_csv('/Users/dawidsyty/DataspellProjects/Analiza-i-bazy-danych/lab2/Analysis Data/age_gender_worried_table.csv')
data.info()
data.head()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 978 entries, 0 to 977
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       978 non-null    object
 1   gender    978 non-null    object
 2   Worried?  978 non-null    object
dtypes: object(3)
memory usage: 23.0+ KB

            age  gender Worried?
count       978     978      978
unique        4       2        2
top     45 - 59  Female       No
freq        270     513      560

## W pliku create charts utworzono wykresy z pytaniami i ilością odpowiedzi oraz zapisano je w Analysis Data/charts jako plik jpg  <br />

<img src="../Analysis Data/charts/Age.jpg"/> <br />

<img src="../Analysis Data/charts/Eathquake fear.jpg"/> <br />


<img src="../Analysis Data/charts/gender.jpg"/> <br />


<img src="../Analysis Data/charts/earthquake precautions.jpg"/> <br />

## Wnioski <br />

Odpowiednia organizacja pracy jest potrzebna aby odpowiedzialnie zarządzać danymi oraz ich żywotnością

Struktura TIER zdecydowanie zezwala na odtworzenie operacji na oryginalnym pliku, oraz jest bardzo domyślna w użytkowaniu

Znalezienie błędów w postępowaniu z danymi jest łatwiejsze gdy każda operacja na bazie danych jest opisana i łatwo powtarzalna.

Korzystanie z zasad TIER zapewnia również że przy wprowadzeniu błędu oryginalne dane nie zostaną zepsute gdyż powinny być trzymane nietknięte w odpowiednim folderze.